.home{
    padding-bottom: 44px;
    display: flex;
    gap: 104px;
  }

.form{
    display: flex;
    background-color: aqua;
    width: 50%;
    background: #f4f5f8;
    border-radius: 20px;
    padding: 50px;    
}

.button{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.field{
    margin-top: 20px;
}

.choose{
    background: #1e931e;
    border-radius: 40px;
    width: 150%;
    height: 68px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .field #groups{
    height: 68px;
    width: 143.8%;
    padding: 0 20px;
    color: #7b7b7b;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid;
    margin-top: 20px;
    border-radius: 8px;
  }


  